################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HalifaxScienceLibrary-Project/.vs/HalifaxScienceLibrary-Project/v15
