@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: linear-gradient(rgba(16, 17, 17, 0.73),rgba(0,0,0,0.5)),url("../../Scripts/Images/hsl.jpg") !important;
        /* Center and scale the image nicely */
        background-position: center !important;
        background-size: cover !important;
        color: #fffbfb !important;
    }
    .jumbotron {
        background-color: #e9ecef59;
    }
</style>
<div class="jumbotron">
    <h1>Halifax Science Library</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mongo db</h2>
        <p>
            MongoDB is a cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with schemata. MongoDB is developed by MongoDB Inc.
        </p>
        <p><a style="color:white; class="btn btn-default" href="https://www.mongodb.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Asp.net MVC</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a style="color:white;  class="btn btn-default" href="https://dotnet.microsoft.com/apps/aspnet">Learn more &raquo;</astyle=""></p>
    </div>
    <div class="col-md-4">
        <h2>mySql</h2>
        <p>Built on MySQL Enterprise Edition and powered by the Oracle Cloud, Oracle MySQL Cloud Service provides a simple, automated, integrated and enterprise</p>
        <p><a style="color:white; class="btn btn-default" href="https://www.mysql.com/">Learn more &raquo;</a></p>
    </div>
</div>